# Mukesh Kumar Sanodiya (11-Jan-2019)

# 5.PANDAS -1 & TEST1- Assignment-1

# 1) How-to-count-distance-to-the-previous-zero
For each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position
Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}

The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.

import pandas as pd

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [2]:
import pandas as pd
import numpy as np
df1 = pd.Series([7, 2, 0, 3, 4, 2, 5, 0, 3, 4])
df2=(df1.groupby(df1.eq(0).cumsum().mask(df1.eq(0))).cumcount() + 1).mask(df1.eq(0), 0).tolist()
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df['Y']=df2
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

# 2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [3]:
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='D') 
s = pd.Series(np.random.rand(len(dti)), index=dti)
s

2015-01-01    0.355970
2015-01-02    0.232807
2015-01-03    0.928805
2015-01-04    0.357499
2015-01-05    0.229297
2015-01-06    0.675785
2015-01-07    0.983915
2015-01-08    0.156871
2015-01-09    0.898024
2015-01-10    0.639735
2015-01-11    0.651119
2015-01-12    0.034889
2015-01-13    0.779264
2015-01-14    0.435209
2015-01-15    0.567365
2015-01-16    0.607613
2015-01-17    0.835542
2015-01-18    0.665150
2015-01-19    0.685400
2015-01-20    0.222339
2015-01-21    0.278797
2015-01-22    0.084652
2015-01-23    0.356260
2015-01-24    0.790400
2015-01-25    0.118040
2015-01-26    0.804665
2015-01-27    0.104120
2015-01-28    0.014454
2015-01-29    0.953044
2015-01-30    0.727023
                ...
2015-12-02    0.738633
2015-12-03    0.042166
2015-12-04    0.806115
2015-12-05    0.248762
2015-12-06    0.833188
2015-12-07    0.814984
2015-12-08    0.510007
2015-12-09    0.864760
2015-12-10    0.030226
2015-12-11    0.157519
2015-12-12    0.481037
2015-12-13    0.460280
2015-12-14    0.063129
2015-12-15    0.790461
2015-12-16    0.954172
2015-12-17    0.490959
2015-12-18    0.386683
2015-12-19    0.197305
2015-12-20    0.636897
2015-12-21    0.288613
2015-12-22    0.306276
2015-12-23    0.000436
2015-12-24    0.609465
2015-12-25    0.552656
2015-12-26    0.376895
2015-12-27    0.314753
2015-12-28    0.811185
2015-12-29    0.130913
2015-12-30    0.125958
2015-12-31    0.844332
Freq: D, Length: 365, dtype: float64

# 3) Find the sum of the values in s for every Wednesday

In [4]:
s[dti.weekday == 2].sum()

28.470407638532865

# 4) Average For each calendar month

In [5]:
s.resample('M').mean()

2015-01-31    0.515549
2015-02-28    0.496722
2015-03-31    0.460345
2015-04-30    0.506461
2015-05-31    0.492461
2015-06-30    0.529757
2015-07-31    0.441193
2015-08-31    0.505551
2015-09-30    0.484271
2015-10-31    0.502087
2015-11-30    0.453361
2015-12-31    0.474175
Freq: M, dtype: float64

# 5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [6]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-07
2015-05-31   2015-05-07
2015-09-30   2015-08-29
2016-01-31   2015-10-15
dtype: datetime64[ns]